//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the checkout page.
// -----------------------------------------------------------------------------

.woocommerce-checkout .page-default {
    .restricted-message-wrapper {
        display: none;
    }

    .restricted-message {
        margin-top: 20px;
        padding: 15px;
        font-size: 18px !important;
        line-height: 1.3 !important;
        color: #fff !important;
        background: #96302f;
    }
    
    @media (max-width: 767px) {
        .restricted-message {
            font-size: 16px !important;
        }
    }
}

.restricted-zone.woocommerce-checkout .page-default {
    .woocommerce-shipping-totals,
    .order-total,
    .woocommerce-checkout-payment,
    .ppc-button-wrapper {
        display: none !important;
    }

    .woocommerce .restricted-message-wrapper,
    .woocommerce .restricted-message {
        display: block;
    }
}