//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the size guide page.
// -----------------------------------------------------------------------------

.page-size-guide {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }

    h1, h2 {
        font-size: 80px;
    }

    h3 {
        font-size: 58px;
    }

    h4 {
        font-size: 42px;
    }

    h5 {
        font-size: 34px;
    }

    h6 {
        font-size: 26px;
    }

    b, strong {
        color: $brand-color;
    }

    p {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: -0.3px;
        // font-family: $font-helveticaneue-bold;
        font-family: $font-helveticaneue-black;
    }

    .banner-section {
        padding: 50px 0;
        background-color: #fff;

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .wrapper-logo + .wrapper-text {
            padding-left: 50px;
        }

        .banner-logo {
            width: auto;
            max-width: 300px;
        }

        .banner-text {
            text-align: center;
        }
    }

    .safety {
        padding: 80px 0;
        color: #fff;
        text-align: center;
        background-color: $black-raisin;

        .section-text-content {
            max-width: 790px;
            margin-left: auto;
            margin-right: auto;

            & + .images {
                padding-top: 50px;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            & + p {
                margin-top: 20px;
            }
        }

        .images {
            display: flex;
            justify-content: center;

            .image-left,
            .image-right {
                padding: 0 50px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .chew-size {
        padding: 80px 0;
        text-align: center;

        .section-text-content + .size-chart {
            padding-top: 50px;
        }
        
        .image-ruler {
            img {
                max-width: 100%;
            }
        }

        .bone-sizes {
            display: flex;
            justify-content: space-between;
        }

        .wrapper-image {
            padding: 25px;

            img {
                max-width: 100%;
            }
        }

        .size {
            margin-top: 3px;
            color: $brand-color;
        }

        .section-bottom-content {
            max-width: 600px;
            margin: 50px auto 0;
        }

        .column {
            &-5 {
                .size-item {
                    width: 20%;
                }
            }
            &-4 {
                margin-left: -90px;
                margin-right: -20px;

                .size-item {
                    width: 25%;
                }
            }
            &-3 {
                margin-left: -120px;
                margin-right: -70px;

                .size-item {
                    width: 33.33%;
                }
            }
            &-2 {
                .size-item {
                    width: 50%;
                }
            }
            &-1 {
                .size-item {
                    width: 50%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}