//main: ../main.scss

// ---------------------------------------------------------------------------------
// This file contains all styles related to the woocommerce notifications component.
// ---------------------------------------------------------------------------------

// WooCommerce Notice - Shop Page or Category Pages
.woocommerce-message,
.woocommerce-info {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: $text-color;
    border-top-color: $brand-color;

    &::before {
        color: $brand-color;
    }

    a.button {
        order: 2;
        margin-left: auto;
        font-family: $font-helveticaneue-bold;
        font-size: 16px;
        color: #fff;
        background-color: $brand-color;

        &:hover {
            color: #fff;
            background-color: $brand-hover;
        }
    }

    a.restore-item,
    a.showcoupon {
        margin-left: 8px;
        font-weight: 900;
    }

    @media (max-width: 767px) {
        a.button {
            margin-top: 5px;
            margin-left: 0;
        }
    }

    @media (max-width: 575px) {
        a.showcoupon {
            margin-left: 0;
        }
    }
}

.woocommerce-error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    color: $text-color;
    border-top-color: #b81c23;

    &::before {
        color: #b81c23;
    }

    li {
        font-size: 18px;
        color: $text-color;
    }
}


// Country Selection
.woocommerce {
    .select2-selection {
        height: 40px !important;
        padding: 7px 0 !important;
        font-size: 18px !important;
        line-height: 24px !important;
        border: 1px solid #c9c9c9 !important;
        border-radius: 0 !important;

        .select2-selection__rendered {
            line-height: 24px !important;
            color: $text-color !important;
        }

        .select2-selection__arrow {
            top: 0 !important;
            right: 7px !important;
            height: 40px !important;

            b {
                border-width: 7px 6px 0 6px !important;
            }
        }
    }

    .select2-container--open .select2-selection__arrow b {
        border-width: 0 6px 7px 6px !important;
    }

    @media (max-width: 767px) {
        .select2-selection {
            height: 38px !important;
            padding: 5px 0 !important;
            font-size: 16px !important;
            line-height: 22px !important;

            .select2-selection__arrow {
                height: 38px !important;
            }
        }
    }
}
.select2-container {
    .select2-search--dropdown {
        padding: 4px 8px;
    
        .select2-search,
        input {
            font-size: 18px !important;
            line-height: 24px !important;
        }

        .select2-search__field {
            padding: 4px 8px;
        }
    }
    .select2-results {
        .select2-results__options {
            padding: 1px 0 0 0;
        }
    
        .select2-results__option {
            padding: 4px 8px;
            font-size: 18px;
            line-height: 24px;
        }
    
        .select2-results__option--highlighted {
            background-color: $brand-color;
        }
    }

    @media (max-width: 767px) {
        .select2-search--dropdown {
            .select2-search,
            input,
            .select2-search__field {
                font-size: 16px !important;
                line-height: 22px !important;
            }
        }
        
        .select2-results .select2-results__option {
            font-size: 16px !important;
            line-height: 22px !important;
        }
    }
}


// WooCommerce Calculate Shipping Icon
.woocommerce .cart_totals .woocommerce-shipping-calculator .shipping-calculator-button {
    padding: 8px 15px;
    margin: 10px 0 5px;
    font-family: $font-helveticaneue-bold;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ac8f63;
    border-radius: 4px;
    transition: all .35s ease-in-out;

    &::after {
        display: none;
    }

    & + .shipping-calculator-form {
        margin: 10px 0 0;

        p.form-row {
            margin-bottom: 10px;
        }

        .input-text {
            height: 40px;
            padding: 7px 8px;
            font-size: 18px;
            line-height: 24px;
            color: $text-color;
            border: 1px solid #c9c9c9;
            border-radius: 0;
        }

        ::-webkit-input-placeholder {
            color: $text-color;
        }
          
        :-ms-input-placeholder {
            color: $text-color;
        }
          
        ::placeholder {
            color: $text-color;
        }
    }
}


// WooCommerce Notice - Cart Page
.woocommerce-page .page-default {
    .woocommerce-message,
    .woocommerce-info {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        color: $text-color;
        border-top-color: $brand-color;
    
        &::before {
            color: $brand-color;
        }
    
        a.button {
            order: 2;
            margin-left: auto;
            font-family: $font-helveticaneue-bold;
            font-size: 16px;
            color: #fff;
            background-color: $brand-color;
    
            &:hover {
                color: #fff;
                background-color: $brand-hover;
            }
        }
    
        a.restore-item {
            margin-left: 8px;
            font-weight: 900;
        }
    
        @media (max-width: 767px) {
            a.button {
                margin-top: 5px;
                margin-left: 0;
            }
        }
    }

    .return-to-shop {
        .button {
            padding: 15px 20px;
            font-family: $font-helveticaneue-bold;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $brand-color;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            border-radius: 4px;
            transition: all .35s ease-in-out;

            &:hover,
            &:focus {
                color: #fff;
                background-color: $brand-hover;
                outline: none;
                box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            }
        }
    }

    .woocommerce-error {
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        color: $text-color;
        border-top-color: #b81c23;
    
        &::before {
            color: #b81c23;
        }

        li {
            font-size: 18px !important;
            color: $text-color !important;
        }
    }
}


// Cart Page
.woocommerce-cart.woocommerce-page .page-default {
    li, p {
        font-size: 18px;
    }

    h2 {
        font-size: 30px;
        text-transform: uppercase;
    }

    .shop_table {
        .button {
            padding: 12px 20px;
            margin-bottom: 0 !important;
            font-family: $font-helveticaneue-bold;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $brand-color;
            border-radius: 4px;
            transition: all .35s ease-in-out;

            &:hover {
                color: #fff;
                background-color: $brand-hover;
            }
        }
    }

    .cart_item {
        a {
            text-decoration: none;
        }

        .remove {
            position: relative;
            top: -4px;
            color: #b81c23 !important;
            opacity: .7;

            &:hover {
                color: #b81c23 !important;
                background: transparent;
                opacity: 1;
            }
        }

        .quantity {
            line-height: 1;

            .input-text {
                height: 32px;
                box-shadow: none;
                border: 1px solid #e5e5e5;
                border-radius: 0;
                outline: none;

                :focus-visible {
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }

    .coupon {
        margin-bottom: 0 !important;

        #coupon_code {
            width: 170px;
            height: 38px;
            padding: 6px 8px;
            font-size: 16px;
            font-weight: 900;
        }
    }

    .cart_totals {
        .order-total .woocommerce-Price-amount {
            font-family: $font-helveticaneue-black;
            font-size: 24px;
        }

        .checkout-button {
            padding: 18px 20px;
            font-family: $font-helveticaneue-bold;
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $brand-color;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            border-radius: 4px;
            transition: all .35s ease-in-out;

            &:hover {
                background-color: $brand-hover;
            }
        }
    }

    .cart-collaterals > div:not(.cart_totals) {
        display: none !important;
    }

    .woocommerce-shipping-totals {
        .woocommerce-shipping-methods li {
            display: flex;
            align-items: center;
            margin: 0 !important;

            label {
                cursor: pointer;
            }

            input {
                margin-top: 0 !important;
                cursor: pointer;
            }
        }
    }

    .devnet_fsl-free-shipping {
        padding: 20px 25px !important;
        margin: 0 0 20px !important;

        .fsl-title.title {
            margin: 0 !important;
            font-family: $font-helveticaneue;
            font-size: 20px;
        }

        .fsl-progress-bar {
            margin: 10px 0 !important;
        }

        .fsl-notice.notice {
            font-family: $font-helveticaneue;
            font-size: 20px;
        }
    }

    @media (max-width: 1199px) {
        h2 {
            font-size: 28px;
        }
    }

    @media (max-width: 991px) {
        .shop_table {
            th, td {
                font-size: 18px;
            }
        }

        .cart_totals .order-total .woocommerce-Price-amount {
            font-size: 22px;
        }
    }

    @media (max-width: 767px) {
        h2 {
            font-size: 26px;
        }

        .shop_table {
            tr, th, td {
                margin-bottom: 0;
                font-size: 16px;
            }
        }

        .cart_item {
            .remove {
                position: initial;
                top: initial;
                opacity: 1;
            }

            .quantity .input-text {
                height: auto;
            }
        }

        .coupon {
            #coupon_code {
                width: 48%;
            }
        }

        .cart_totals {
            .order-total .woocommerce-Price-amount {
                font-size: 18px;
            }

            .wc-proceed-to-checkout {
                padding: 5px 0 0;
            }

            .checkout-button {
                padding: 14px 15px;
                font-size: 16px;
            }
        }

        .woocommerce-shipping-totals td {
            .woocommerce-shipping-methods li {
                justify-content: end;
                margin: 0 !important;

                label {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .woocommerce-shipping-destination {
                max-width: 75%;
                margin-left: auto;
                font-size: 16px;
                line-height: 20px;
            }
        }

        .devnet_fsl-free-shipping {
            padding: 15px 20px!important;
            margin-top: 10px !important;

            .fsl-title.title,
            .fsl-notice.notice {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    @media (max-width: 575px) {
        .shop_table {
            .button {
                padding: 13px 7px;
                font-size: 13px;
            }
        }
    }
}   


// Checkout Page
.woocommerce-checkout.woocommerce-page .page-default {
    *:not(:last-child) {
        margin-bottom: 0;
    }

    .woocommerce-checkout {
        margin-top: 30px;
    }

    p.form-row {
        margin-bottom: 15px;

        label {
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            padding: 7px;
            font-size: 18px;
            line-height: 24px;
            border: 1px solid #c9c9c9;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            transition: all .35s ease-in-out;

            &:focus,
            &:focus-within,
            &:focus-visible {
                border-color: $brand-color;
            }
        }

        textarea {
            height: 130px;
            resize: none;
        }
    }

    .woocommerce-invalid-required-field {
        input {
            border-color: #b81c23 !important;
        }
    }

    .woocommerce-form-coupon {
        padding: 15px;
        margin: 0 0 30px;
        border-radius: 0;

        p {
            margin-bottom: 10px;
        }

        .form-row {
            padding: 0;
            margin: 0;

            .button {
                padding: 12px 20px;
                margin-bottom: 0 !important;
                font-family: $font-helveticaneue-bold;
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                background-color: $brand-color;
                border-radius: 4px;
                transition: all .35s ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: $brand-hover;
                }
            }
        }
    }

    .woocommerce {
        li, p, label, th, td, tr {
            font-size: 20px;
            line-height: 1.2;
            color: $text-color;
        }
    
        h3 {
            margin-bottom: 15px;
            font-size: 30px;
            text-transform: uppercase;
        }

        #customer_details {
            margin-bottom: 30px;
        }

        .order-total .woocommerce-Price-amount {
            font-family: $font-helveticaneue-black;
            font-size: 24px;
        }

        #payment.woocommerce-checkout-payment {
            margin-top: 15px;
            background: #f5f5f5;

            .payment_methods,
            .place-order {
                padding: 15px;
            }

            .payment_box {
                padding: 15px;
                margin: 10px 0 0;
                background-color: #e5e5e5;

                &::before {
                    border-bottom-color: #e5e5e5;
                }

                * {
                    font-size: 18px;
                }
            }

            .button {
                padding: 15px 25px;
                font-family: $font-helveticaneue-bold;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                background-color: $brand-color;
                box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
                border-radius: 4px;
                transition: all .35s ease-in-out;

                &:hover {
                    background-color: $brand-hover;
                }
            }
        }

        .woocommerce-terms-and-conditions-wrapper * {
            font-size: 18px;
        }
    }

    .cart-collaterals > div:not(.cart_totals) {
        display: none !important;
    }

    #ship-to-different-address {
        margin-bottom: 14px;
        padding-left: 3px;
        font-family: $font-helveticaneue;
        text-transform: none;            

        label input {
            margin-right: 4px;
        }
    }

    .woocommerce-account-fields .create-account {
        margin-bottom: 0;

        .checkbox {
            width: fit-content;
            display: flex;
            align-items: center;
            cursor: pointer;

            input {
                position: relative;
                top: 2px;
            }
        }

        .password-input {
            .woocommerce-password-strength {
                font-size: 16px;
            }

            input {
                padding-right: 40px;
            }

            .show-password-input {
                top: 10px;
                opacity: 1;

                &.display-password {
                    opacity: .3;
                }
            }
        }
    }

    .woocommerce-shipping-totals {
        th, td {
            vertical-align: middle;
        }

        td .woocommerce-shipping-methods li {
            margin: 0 !important;
        }

        .woocommerce-shipping-methods li {
            display: flex;
            align-items: center;

            label {
                cursor: pointer;
            }

            input {
                margin-top: 0 !important;
                cursor: pointer;
            }
        }
    }

    .wc_payment_methods .wc_payment_method {
        &:not(:first-child) {
            margin-top: 5px !important;
        }

        input {
            margin-right: 5px !important;
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }

        fieldset {
            margin: 0 !important;

            &.wc-credit-card-form {
                label {
                    font-weight: 900;
                }
            }

            .form-row {
                padding: 0 !important;
                margin: 10px 0 0 !important;
            }

            .woocommerce-SavedPaymentMethods-saveNew {
                input {
                    position: relative;
                    top: 1px;
                }
            }

            .form-row-first,
            .form-row-last {
                width: 49%;
            }

            .woocommerce_error {
                margin: 5px 0 0 !important;

                li {
                    line-height: 20px !important;
                }
            }
        }
    }

    .ppc-button-wrapper #ppc-button-ppcp-gateway {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .devnet_fsl-free-shipping {
        padding: 20px 25px !important;
        margin: 0 !important;

        .fsl-title.title {
            margin: 0 !important;
            font-family: $font-helveticaneue;
            font-size: 20px;
        }

        .fsl-progress-bar {
            margin: 10px 0 !important;
        }

        .fsl-notice.notice {
            font-family: $font-helveticaneue;
            font-size: 20px;
        }
    }

    @media (max-width: 1199px) {
        .woocommerce {
            h3 {
                font-size: 29px;
            }

            li, p, label, th, td, tr {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 991px) {
        .form-row-first,
        .form-row-last {
            width: 49% !important;
        }

        .woocommerce {
            .order-total .woocommerce-Price-amount {
                font-size: 22px;
            }

            #payment.woocommerce-checkout-payment .button {
                margin-top: 15px;
            }
        }
    }

    @media (max-width: 767px) {
        p.form-row {
            margin-bottom: 10px;

            &#billing_email_field {
                margin-bottom: 30px;
            }

            input,
            select,
            textarea {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .woocommerce {
            li, p, label, th, td, tr {
                font-size: 16px;
            }

            #customer-details {
                margin-bottom: 20px;
            }

            h3 {
                margin-bottom: 10px;
                font-size: 26px;
            }

            .order-total .woocommerce-Price-amount {
                font-size: 18px;
            }

            #payment.woocommerce-checkout-payment .payment_box *,
            .woocommerce-terms-and-conditions-wrapper * {
                font-size: 16px;
                line-height: 22px;
            }

            #payment.woocommerce-checkout-payment .button {
                margin-bottom: 0 !important;
            }
        }

        .wc_payment_methods .wc_payment_method fieldset .woocommerce_error li {
            font-size: 16px !important;
        }

        .devnet_fsl-free-shipping {
            padding: 15px 20px !important;

            .fsl-title.title,
            .fsl-notice.notice {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}


// Order Received Page
.woocommerce-checkout.woocommerce-order-received .page-default {
    .woocommerce {
        .woocommerce-thankyou-order-received,
        h2 {
            font-family: $font-helveticaneue-black;
            font-size: 30px;
            color: #000;
            text-transform: uppercase;
        }

        .woocommerce-order-overview {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin-top: 20px;
            background: #fff;

            li {
                width: 33.33%;
                padding: 0;
                margin: 0 0 15px;
                font-size: 16px;
                line-height: 18px;
                border: 0;

                // &.order {
                //     order: 1;
                // }
    
                // &.date {
                //     order: 2;
                // }
    
                // &.total {
                //     order: 3;
                // }
    
                // &.email {
                //     order: 4;
                // }
    
                // &.method {
                //     order: 5;
                // }

                * {
                    margin-top: 3px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }

        .woocommerce-order-details {
            margin: 20px 0 0;
        }

        table.shop_table {
            margin-top: 20px;
            border-radius: 0;

            tr, th, td, p, label {
                font-size: 18px;
                line-height: 1.1;
            }

            .product-name a {
                text-decoration: none;
                color: $brand-color;
            }

            tfoot tr:last-child .woocommerce-Price-amount.amount {
                font-family: $font-helveticaneue-black;
            }
        }

        .order_details {
            .wc-item-meta {
                display: none;
            }
        }

        .woocommerce-customer-details {
            margin: 30px 0 0;

            address {
                padding: 12px;
                margin-top: 20px;
                font-size: 18px;
                line-height: 24px;
                border-radius: 0;

                p {
                    padding: 0;
                    font-size: 18px;
                    line-height: 24px;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            table.shop_table th,
            table.shop_table td {
                vertical-align: middle;
            }

            .woocommerce-thankyou-order-received,
            h2 {
                font-size: 29px;
                line-height: 1;
            }

            .woocommerce-order-overview li {
                width: 50%;
            }
        }

        @media (max-width: 767px) {
            .woocommerce-order-overview li {
                width: 100%;
            }

            .woocommerce-thankyou-order-received,
            h2 {
                font-size: 26px;
            }

            .woocommerce-order-overview {
                margin-top: 15px;
            }

            table.shop_table {
                margin-top: 15px;

                tr, th, td, p, label {
                    font-size: 16px;
                }
            }

            .woocommerce-customer-details address {
                margin-top: 15px;
                font-size: 16px;
                line-height: 22px;

                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    }
}


// Disabled Variations
.woocommerce ul.products li.product-item.sale,
.woocommerce .product.sale .summary {
    .variations_form .variations .value option:disabled {
        background-color: #dbdde0;
    }
}
// Sale Products - Shop Page/Category Pages
.woocommerce ul.products li.product-item.sale {
    .onsale {
        position: absolute;
        top: -10px;
        right: initial;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 70px;
        height: 70px;
        font-size: 14px;
        letter-spacing: .5px;
        line-height: 1;
        text-transform: uppercase;
        pointer-events: none;
        background: url(../assets/images/icon-sale.png) no-repeat center center;
        background-size: contain;
        transform: rotate(-25deg);
    }

    .price {
        del {
            font-size: 12px;
            color: #f02b20;
            font-weight: 900;
        }
    }

    @media (max-width: 1399px) {
        .onsale {
            width: 60px;
            height: 60px;
            font-size: 12px;
        }
    }

    @media (max-width: 1199px) {
        .onsale {
           left: 10%;
        }
    }

    @media (max-width: 991px) {
        .onsale {
            top: -5px;
            left: 0;
            width: 50px;
            height: 50px;
            font-size: 10px;
        }
    }

    @media (max-width: 767px) {
        .onsale {
            top: -8px;
            left: 15%;
        }
    }

    @media (max-width: 575px) {
        .onsale {
            top: -5px;
            left: 12%;
            width: 40px;
            height: 40px;
            font-size: 8px;
        }
    }

    @media (max-width: 470px) {
        .onsale {
            left: 3%;
        }
    }

    @media (max-width: 400px) {
        .onsale {
            left: -3%;
        }
    }

    @media (max-width: 320px) {
        .onsale {
            left: -12px;
        }
    }
}
// Sale Products - Single Product Page
.woocommerce .product.sale {
    .summary .price {
        align-items: center;

        del {
            margin-right: 5px;
            font-size: 12px;
            color: #f02b20;
            font-weight: 900;
        }
    }

    .image-wrapper .onsale {
        display: none;
    }
}